*{
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica';
}
#wrapper {
	width: 1036px;
	height: 600px;
	background-color: white;
	margin: 0 auto;
}
#top{
	width: 1006px;
	height: 140px;
	padding: 15px;
	background-color: white;
}
#housedetails{
	width: 1006px;
	height: 140px;
	padding: 15px;
	background-color: white;
	border: 1px solid black;
}
h1{
	margin-bottom: 10px;
}
p{
	margin-bottom: 3px;
}